.idea
/.htaccess
/upload
/bitrix
/local/php_interface/constants.php
/*.txt
/*.html
~*.php
*.log
*.jpg
*.jpeg
*.png
*.pdf
*.gif
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
/bitrix/wizards/
/bitrix/updates/
/bitrix/tools/
/bitrix/themes/
/bitrix/sounds/
/bitrix/services/
/bitrix/panel/
/bitrix/otp/
/bitrix/modules/
/bitrix/images/
/bitrix/image_uploader/
/bitrix/gadgets/
/bitrix/fonts/
/bitrix/components/
/bitrix/catalog_export/
/bitrix/cache/
/bitrix/backup/
/bitrix/admin/
